name: Go build, lint and test

on:
        push:
        pull_request:
                branches:
                        - master

jobs:
        build:
                name: Build, lint and test
                runs-on: ubuntu-latest
                steps:
                        - name: Set up Go
                          uses: actions/setup-go@v2
                          with:
                                  go-version: ^1.14
                          id: go
                        - name: Check out code
                          uses: actions/checkout@v2
                        - name: Build
                          run: go build -v .
                        - name: Lint
                          run: |
                                  go get -u golang.org/x/lint/golint
                                  golint -set_exit_status ./...
                        - name: Vet
                          run: go vet ./...
                        - name: Test
                          run: go test -v .
